{% extends 'account/main.html' %}
{% block content %}

<table class="blueTable">
<thead>
<tr>
<th> Nomproduit</th>
<th> prix</th>
<th>category</th>
</tr>
</thead>
<tfoot>
<tr>
<td colspan="4">
<div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
</td>
</tr>
</tfoot>
<tbody>
    {% for i in products %}
    <tr>
        <td> {{i.name}} </td>
        <td> {{i.price}} </td>
        <td> {{i.category}} </td>


    </tr>
    {% endfor %}

</tbody>
</table>
{% endblock %}